<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 상품권_수집 완료</title>
    <link rel="stylesheet" href="client/css/gift_done.css">
    <link rel="stylesheet" href="client/css/reset.css">
    <link rel="stylesheet" type="text/css" href="client/css/common.css">
    <link rel="stylesheet" href="client/css/header_footer.css">
    <!-- 제이쿼리 연결 -->
    <script src="client/js/jquery-3.6.0.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <a href="#" onClick="history.back();"><img src="client/images/arrow_back.png" alt=""></a>
            <p>나의 상품권</p>
        </div>
    </header>
    <section>
      <div class="gift_img">
          <img src="client/images/gift-card.svg" alt="">
      </div>
        <div id="gift_all">
            <div class="gift">
                    <p>8 / 8 </p>
                    <h2 class="number">다 모았어요!!</h2>
                  </div>
                  <div class="btn_bg">
                    <button class="gift_btn" id="modal-open">발송하기</button>
                  </div>
                  <div class="gift_img2">
               <img src="client/images/gift_card.jpg" alt="">
              </div>
        </div>
            <div class="gift2">
                <p>*모바일상품권은 문자발송됩니다.
                    사용처는 DGB대구은행 홈페이지에서
                    확인하세요!</p>
            </div>
        <!-- 모달창 -->
        <!-- 컨테이너 -->
        <div class="container"> 
            <!-- 모달을 감쌀 박스 -->
            <div class="popup-wrap" id="popup"> 
            <!-- 실질적 모달 팝업 -->
            
              <div class="popup">
                <!-- 컨텐츠 영역 -->
                <div class="popup-body">	
                  <div class="body-content">
                    <div class="body-titlebox">
                    </div>
                    <div class="body-contentbox">
                      <p> 상품권이 발송되었어요! </p>
                    </div>
                  </div>
                </div>
                <!-- 푸터 버튼 영역 -->
                <div class="popup-foot"> 
                  <span class="pop-btn" id="close" onclick='window.location.href ="/home"'>확인</span>
                </div>
              </div>
             </div>
          </div>
    <!-- 메뉴 -->
    <div onclick="history.back();" class="page_cover"></div>
    <div id="menu"> 
        <div class="nav_top">Menu</div>
        <ul class="nav_ul">
            <li class="nav_li flex-l"><a href="/myinfo"><div class="flex-l"><img src="/client/file/menu_btn_02login.svg">나의 정보</div></a></li>
            <li class="nav_li flex-l"><a href="/notice"><div class="flex-l"><img src="/client/file/menu_btn_05tutoral.svg">동물 위치안내</div></a></li>
            <li class="nav_li flex-l"><a href="/donation"><div class="flex-l"><img src="/client/file/menu_btn_03support.svg">나의 후원금</div></a></li>
            <li class="nav_li flex-l"><a href="/gift"><div class="flex-l"><img src="/client/file/menu_btn_04reward.svg">나의 상품권</div></a></li>
            <li class="nav_li flex-l"><a href=""><div class="flex-l"><img src="/client/file/menu_btn_01person.svg">고객센터</div></a></li>
            <li class="nav_li flex-l"><a href="/howtouse"><div class="flex-l"><img src="/client/file/menu_btn_07qesution.svg">이용방법</div></a></li>
        </ul>
        <!-- <div class="signup"><a href="">회원가입</a></div> -->
        <div onclick="history.back();" class="close"> 닫기 </div>
    </div>
        <footer>
            <ul class="flex-c-c">
                <li class="flex-c-c">
                    <a href="/home" class="flex-c-c-c">
                        <svg xmlns="http://www.w3.org/2000/svg" height="26" width="26"  viewBox="0 0 48 48"><path d="M8 42V18L24.1 6L40 18V42H28.3V27.75H19.65V42ZM11 39H16.65V24.75H31.3V39H37V19.5L24.1 9.75L11 19.5ZM24 24.35Z"/></svg>
                    </a>
                </li>
                <li class="flex-c-c">
                    <a href="/aniwhere" class="flex-c-c-c">
                        <svg xmlns="http://www.w3.org/2000/svg" height="26" width="26"  viewBox="0 0 48 48"><path d="M24 33.1Q29.2 28.9 31.85 25.025Q34.5 21.15 34.5 17.8Q34.5 14.85 33.425 12.8Q32.35 10.75 30.775 9.45Q29.2 8.15 27.35 7.575Q25.5 7 24 7Q22.5 7 20.65 7.575Q18.8 8.15 17.225 9.45Q15.65 10.75 14.575 12.8Q13.5 14.85 13.5 17.8Q13.5 21.15 16.15 25.025Q18.8 28.9 24 33.1ZM24 36.9Q17.15 31.75 13.825 27.05Q10.5 22.35 10.5 17.8Q10.5 14.4 11.725 11.825Q12.95 9.25 14.9 7.5Q16.85 5.75 19.25 4.875Q21.65 4 24 4Q26.35 4 28.75 4.875Q31.15 5.75 33.1 7.5Q35.05 9.25 36.275 11.825Q37.5 14.4 37.5 17.8Q37.5 22.35 34.175 27.05Q30.85 31.75 24 36.9ZM24 21Q25.45 21 26.475 19.975Q27.5 18.95 27.5 17.5Q27.5 16.05 26.475 15.025Q25.45 14 24 14Q22.55 14 21.525 15.025Q20.5 16.05 20.5 17.5Q20.5 18.95 21.525 19.975Q22.55 21 24 21ZM10.5 44V41H37.5V44ZM24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Q24 17.8 24 17.8Z"/></svg>
                    </a>
                </li>
                <li class="flex-c-c">
                    <a href="/certification" class="flex-c-c-c">
                        <svg xmlns="http://www.w3.org/2000/svg" height="26" width="26"  viewBox="0 0 48 48"><path d="M41,16.342V8.496l0,0l0,0h-6.5V4.875H41c0.8,0,1.5,0.362,2.1,1.086C43.7,6.686,44,7.531,44,8.496v7.846H41z M4,16.342V8.496c0-0.965,0.3-1.811,0.9-2.535C5.5,5.237,6.2,4.875,7,4.875h6.5v3.621H7l0,0l0,0v7.846H4z M34.5,43.5v-3.621H41l0,0l0,0v-7.846h3v7.846c0,0.966-0.3,1.811-0.9,2.534C42.5,43.138,41.8,43.5,41,43.5H34.5z M7,43.5c-0.8,0-1.5-0.362-2.1-1.087C4.3,41.689,4,40.845,4,39.879v-7.846h3v7.846l0,0l0,0h6.5V43.5H7z M10,36.258V12.117h28v24.141H10z M13,32.637h22V15.738H13V32.637z M13,32.637V15.738V32.637z"/>
                   </svg>
                    </a>
                </li>
                <li class="flex-c-c">
                    <a href="/collection" class="flex-c-c-c">
                        <svg xmlns="http://www.w3.org/2000/svg" height="26" width="26"  viewBox="0 0 48 48"><path d="M28 19.3V16.9Q29.65 16.2 31.375 15.85Q33.1 15.5 35 15.5Q36.3 15.5 37.55 15.7Q38.8 15.9 40 16.2V18.4Q38.8 17.95 37.575 17.725Q36.35 17.5 35 17.5Q33.1 17.5 31.35 17.975Q29.6 18.45 28 19.3ZM28 30.3V27.85Q29.65 27.15 31.375 26.825Q33.1 26.5 35 26.5Q36.3 26.5 37.55 26.7Q38.8 26.9 40 27.2V29.4Q38.8 28.95 37.575 28.725Q36.35 28.5 35 28.5Q33.1 28.5 31.35 28.95Q29.6 29.4 28 30.3ZM28 24.8V22.4Q29.65 21.7 31.375 21.35Q33.1 21 35 21Q36.3 21 37.55 21.2Q38.8 21.4 40 21.7V23.9Q38.8 23.45 37.575 23.225Q36.35 23 35 23Q33.1 23 31.35 23.475Q29.6 23.95 28 24.8ZM12.4 33Q15.1 33 17.625 33.625Q20.15 34.25 22.6 35.5V14.15Q20.35 12.65 17.725 11.825Q15.1 11 12.4 11Q10.5 11 8.675 11.475Q6.85 11.95 5 12.65Q5 12.65 5 12.65Q5 12.65 5 12.65V34.35Q5 34.35 5 34.35Q5 34.35 5 34.35Q6.55 33.65 8.525 33.325Q10.5 33 12.4 33ZM25.6 35.5Q28.1 34.25 30.5 33.625Q32.9 33 35.6 33Q37.5 33 39.525 33.3Q41.55 33.6 43 34.1Q43 34.1 43 34.1Q43 34.1 43 34.1V12.65Q43 12.65 43 12.65Q43 12.65 43 12.65Q41.3 11.8 39.4 11.4Q37.5 11 35.6 11Q32.9 11 30.375 11.825Q27.85 12.65 25.6 14.15ZM24.1 40Q21.55 38.1 18.55 37.075Q15.55 36.05 12.4 36.05Q10.55 36.05 8.8 36.5Q7.05 36.95 5.3 37.6Q4.15 38.15 3.075 37.45Q2 36.75 2 35.45V12.3Q2 11.55 2.35 10.925Q2.7 10.3 3.4 9.95Q5.5 8.95 7.775 8.475Q10.05 8 12.4 8Q15.55 8 18.525 8.85Q21.5 9.7 24.1 11.45Q26.65 9.7 29.575 8.85Q32.5 8 35.6 8Q37.95 8 40.2 8.475Q42.45 8.95 44.55 9.95Q45.25 10.3 45.625 10.925Q46 11.55 46 12.3V35.45Q46 36.85 44.875 37.575Q43.75 38.3 42.65 37.6Q40.95 36.9 39.2 36.475Q37.45 36.05 35.6 36.05Q32.45 36.05 29.55 37.1Q26.65 38.15 24.1 40ZM13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Q13.8 23.55 13.8 23.55Z"/></svg>
                    </a>
                </li>
                <li class="flex-c-c">
                    <div class="flex-c-c-c btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="26" width="26"  viewBox="0 0 48 48"><path d="M10.4 26.4Q9.4 26.4 8.7 25.7Q8 25 8 24Q8 23 8.7 22.3Q9.4 21.6 10.4 21.6Q11.4 21.6 12.1 22.3Q12.8 23 12.8 24Q12.8 25 12.1 25.7Q11.4 26.4 10.4 26.4ZM24 26.4Q23 26.4 22.3 25.7Q21.6 25 21.6 24Q21.6 23 22.3 22.3Q23 21.6 24 21.6Q25 21.6 25.7 22.3Q26.4 23 26.4 24Q26.4 25 25.7 25.7Q25 26.4 24 26.4ZM37.6 26.4Q36.6 26.4 35.9 25.7Q35.2 25 35.2 24Q35.2 23 35.9 22.3Q36.6 21.6 37.6 21.6Q38.6 21.6 39.3 22.3Q40 23 40 24Q40 25 39.3 25.7Q38.6 26.4 37.6 26.4Z"/></svg>
                    </div>
                </li>
            </ul>
        </footer>
        <script src="client/js/nav.js"></script>
          <script>
           //   모달창
            $(function(){
                $("#modal-open").click(function(e){        
                    e.preventDefault();
                    $("#popup").css('display','flex').hide().fadeIn();
                    //팝업을 flex속성으로 바꿔준 후 hide()로 숨기고 다시 fadeIn()으로 효과
                });
                $("#close").click(function(){
                    modalClose(); //모달 닫기 함수 호출
                });
                function modalClose(){
                    $("#popup").fadeOut(); //페이드아웃 효과
                }
                });
        </script>
          </script>
</body>
</html>