<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 화면</title>
    <link rel="stylesheet" href="client/css/sign_up.css">
    <link rel="stylesheet" href="client/css/reset.css">
    <link rel="stylesheet" type="text/css" href="client/css/common.css">
    <!-- 제이쿼리 연결 -->
    <script src="client/js/jquery-3.6.0.js"></script>
</head>
<body>
    <header>
        <a href="#" onClick="history.back();"><img src="client/images/arrow_back.png" alt=""></a>
    </header>
    <section>
        <div class="logo_img">
            <img src="client/images/icon/logo.svg" alt="">
        </div>
        <form id="sign_up_all">
            <div class="sign_up">
                    <p>아이디</p>
                    <input required class="info" type="text"onkeyup='printName()' >
                    <p>비밀번호</p>
                    <input required class="info" type="password"onkeyup='printName()'>
                    <p>비밀번호 확인</p>
                    <input required class="info" type="password">
                    <p>이름</p>
                    <input required class="info" type="text">
                    <p>전화번호</p>
                    <input required class="info" type="text">
                    <button class="sign_up_btn"  id="modal-open">SIGN UP</button>
            </div>
          </form>
        <!-- 모달창 -->
        <!-- 컨테이너 -->
        <div class="container"> 
            <!-- 모달을 감쌀 박스 -->
            <div class="popup-wrap" id="popup"> 
            <!-- 실질적 모달 팝업 -->
            
              <div class="popup">
                <div class="popup-img">
                  <img src="client/images/animals_splash.png" alt="">
              </div>
                <!-- 로고영역 -->
                <div class="popup-head">
                    <span class="head-title"></span>
                </div>
                <!-- 컨텐츠 영역 -->
                <div class="popup-body">	
                  <div class="body-content">
                    <div class="body-titlebox">
                      <h1>환영합니다!</h1>
                    </div>
                    <div class="body-contentbox">
                      <p> 애니웨어 가족이 되었어요! </p>
                    </div>
                  </div>
                </div>
                <!-- 푸터 버튼 영역 -->
                <div class="popup-foot"> 
                  <span class="pop-btn close" id="close">닫기</span>
                  <span class="pop-btn confirm" id="confirm"><a href="/home">동물 만나러 가기</a></span>

                </div>
              </div>
             </div>
          </div>
          <script>
            //   모달창
            let tt=document.querySelectorAll(".info");
            $(function(){
               
                $("#modal-open").click(function(e){      
                // var infoText = document.getElementsByClassName('info').value;
                // var infoText2 = $('.info').val();
                if(tt[0].value==""|| tt[1].value==""|| tt[2].value==""|| tt[3].value==""|| tt[4].value==""){
                  // alert("입력하시오.");
                 
                  return;
                }
                    e.preventDefault();
                    // $("#modal-open").toggle()
                    $("#popup").css('display','flex').hide().fadeIn();
                    //팝업을 flex속성으로 바꿔준 후 hide()로 숨기고 다시 fadeIn()으로 효과 
                    
                
                });
                
                $("#close").click(function(){
                    modalClose(); //모달 닫기 함수 호출
                    location.reload();//창 닫으면 새로고침
                });
                function modalClose(){
                    $("#popup").fadeOut(); //페이드아웃 효과
                }
                });
                //sign up 버튼 활성화
                $(".info").change(stateHandle)
                // tt[4].addEventListener("change", stateHandle);
                function stateHandle() {
                  if (tt[0].value!=""&& tt[1].value!=""&& tt[2].value!=""&& tt[3].value!=""&& tt[4].value!="") {
                                  $("#modal-open").css({"background-color":"#462411", "color":"white"});
                    button.disabled = false; 
                  } else {
                    $("#modal-open").css({"background-color":"rgba(158, 158, 158, 0.3)", "color":"rgba(255, 255, 255, 0.459)"});
                    button.disabled = true;
                  }
                };
          </script>
</body>
</html>