<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>애니웨어</title>
        <!-- 스타일시트 -->
        <link rel="stylesheet" type="text/css" href="client/css/reset.css">
        <link rel="stylesheet" type="text/css" href="client/css/common.css">
        <link rel="stylesheet" type="text/css" href="client/css/style.css">
</head>
<body id="splash-body">     <!-- onload="window_onload()" -->
    <div class="splash">
        <img src="/client/file/animals_splash.png">
        <h1>애니웨어</h1>
        <h3>Ani-Where</h3>
        <br /><br />
        <h4>
            <a href="/login">로그인</a>
        </h4>
    </div>
    <h4 class="just"><a href="/home">둘러보기</a></h4>
    
    <!-- 페이지 자동 넘김 -->
    <!-- <script language="javascript">
        function window_onload(){
            setTimeout('go_url()',2000)
        };
        function go_url(){
            location.href="/home";
        };
    </script> -->

</body>
</html>