<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>애니웨어</title>
        <!-- 스타일시트 -->
        <style>
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
        img{
        width: 320px;
        height: 640px;}
        </style>
        
</head>
<body id="splash-body" onload="window_onload()">    
    <div class="splash">
        <img src="/client/file/tutorial_1.png">
        <img src="/client/file/tutorial_2.png">
        <img src="/client/file/tutorial_3.png">
        <img src="/client/file/tutorial_4.png">
    </div>
    


    </script>

</body>
</html>